body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    display: flex;
}

main{
    margin-left: 60px;
    padding: 20px;
}