.dash-last-notes{
    border-radius: 10px;
    background-color: var(--bg-secondary);
    padding: 20px;
    border: 1px solid var(--border);
    position: relative;
    overflow: hidden;
}

.dash-last-notes:hover{
    background-color: #0c0d00;
    border-color: #deee00;
    box-shadow: 0 0 10px #deee00;
}

.notes-dashboard_tittle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
    position: relative;
    z-index: 1;
}

.icon-note-tittle{
    width: 42px;
    height: 42px;
    color: #deee00;
    border-radius: 10px;
    border: 1px solid rgba(222, 238, 0, 0.45);
    background-color: rgba(222, 238, 0, 0.16);
    padding: 10px;
    transition: scale 0.1s ease, rotate 0.1s ease;
}

.dash-last-notes:hover .icon-note-tittle{
    scale: 1.1;
    rotate: -8deg;
}